<!-- templates/registration/login.html -->
{% extends 'gestao_produtos/_layouts/base.html' %}

{% load widget_tweaks %}

{% block title %}Gestão de Produtos | Login{% endblock %}

{% block conteudo %}
<div class="container">
  <div class="row vh-100 align-items-center justify-content-center">
    <div class="col-md-4 col-sm-8">
      {% if form.errors %}
        <div class="row">
          <div class="col">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Erro!</strong>
              {% for field in form %}
                {% if field.errors %}
                  {% for error in field.errors %}
                    {{ error }}
                  {% endfor %}
                {% endif %}
              {% endfor %}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="card">
        <div class="card-header">
          Criar novo Usuário
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.username.id_for_label }}">Usuário</label>
              {% render_field form.username class+="form-control" placeholder+="Username" %}
            </div>
            <div class="form-group">
              <label for="{{ form.password1.id_for_label }}">Senha</label>
              {% render_field form.password1 class+="form-control" placeholder+="Sua senha" %}
            </div>
            <div class="form-group">
              <label for="{{ form.password2.id_for_label }}">Confirme a senha</label>
              {% render_field form.password2 class+="form-control" placeholder+="Repita sua senha" %}
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-outline-primary">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}